.header{
    display: flex;
    align-items: center;
    gap: 70px;
    border: none;
    border-bottom: 2px solid;
    border-color:gray;
    padding-right: 0;
    padding-left: 20px;
    
}

.header__logo{
    color: black;
}

.header__left{
    display: flex;
    align-items: center;
    gap: 20px;
}


.header__right__wrapper{
    display: flex;
    gap: 20px;
    align-items: center;
}

li{
    list-style: none;
}